<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scu.smartgrocerytracker">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".login.LoginDemoApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">



        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAc1dJYxpC9ybqNhrZFUMMQRWd9fbpOSr8" />
        <!--AIzaSyDPWagttLshhCvxCrQAW3uaOrlahXpSI_w-->

        <activity android:name=".MapView"
            android:label="Mapview"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>


        <activity
            android:name=".welcome.WelcomeMainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".items.ItemListingActivity"
            android:label="@string/title_activity_item_listing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pantry.AddToPantryActivity"
            android:label="@string/title_activity_view_pantry_items"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".pantry.ExpiryNotificationService"
            android:exported="false" />

        <activity android:name=".pantry.ExpiryNotificationActivity" />
        <activity
            android:name=".pantry.UpdatePantryActivity"
            android:label="@string/title_activity_update_pantry"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


    </application>

</manifest>
